@font-face {
    font-family: 'HomepageBaukasten';
    src: url('../fonts/HomepageBaukasten-Bold.woff2') format('woff2'),
        url('../fonts/HomepageBaukasten-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HomepageBaukasten';
    src: url('../fonts/HomepageBaukasten-Book.woff2') format('woff2'),
        url('../fonts/HomepageBaukasten-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}