#landingPage {
  #banner {
    margin-bottom: -6px;
    .slick {
      &-arrow {
        z-index: 1;
      }
      &-prev {
        left: 5%;
      }
      &-next {
        right: 5%;
      }
      &-slide {
        .banner-caption {
          justify-content: center;
        }
      }
    }
    .banner {
      &-item {
        position: relative;
      }
      &-caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: calc(56px + 5%) 15% 5%;
        display: flex;
        flex-direction: column;
      }
    }
    @include media-breakpoint-up(lg) {
      .slick {
        &-slide {
          &:nth-child(odd) {
            .banner-caption {
              justify-content: center;
            }
          }
          &:nth-child(even) {
            .banner-caption {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

  #about {
    text-align: center;

    .about {
      &-body {
        height: 100%;
        padding: 30px;
        background-color: $primary;
        color: $white;
      }
      &-img {
        width: 100%;
      }
    }

    @include media-breakpoint-up(lg) {
      padding-top: 45px;
      padding-bottom: 45px;
      > .container {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -45px;
          left: -30px;
          width: 50%;
          height: 100%;
          background-color: $light;
          z-index: 0;
        }
        &::after {
          content: "";
          position: absolute;
          top: -45px;
          right: -30px;
          width: 50%;
          height: 100%;
          background-color: $light;
          z-index: 0;
        }
        > .row {
          position: relative;
          z-index: 1;
        }
      }
      .about {
        &-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    @include media-breakpoint-down(md) {
      > .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  #labels{
    &-1,&-2,&-3{
        text-align: center;
        .slick{
            &-arrow{
                z-index: 1;
            }
            &-prev{
                left: 5%;
            }
            &-next{
                right: 5%;
            }
        }
    }
  }

  #join{
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      padding: 30px 0;
      &::before{
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(white, .75);
      }
      >.container{
          position: relative;
      }
      .join{
          &-form{
              max-width: 500px;
              margin: 0 auto;
          }
      }
  }

  #contact {
    position: relative;
    .contact {
        &-map{
            display: flex;
        }
      &-body {
        background-color: $primary;
        color: $white;
        padding: 30px;
        text-align: center;
      }
    }
    @include media-breakpoint-up(lg) {
      .contact {
        &-map {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }

    @include media-breakpoint-down(md){
        >.container{
            padding-left: 0;
            padding-right: 0;
        }
    }
  }
}
