#landingPage {
  section {
    .text {
      &-title {
        @include font-size(36);
        position: relative;
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
        text-align: center;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 auto;
          width: 40px;
          border-bottom: 3px solid;
        }
      }
    }
  }

  #banner {
    margin-bottom: -6px;

    .slick {
      &-arrow {
        z-index: 1;

        &::before {
          font-size: 24px;
        }
      }

      &-prev {
        left: 5%;
      }

      &-next {
        right: 5%;
      }

      &-slide {
        .banner-caption {
          justify-content: center;
        }
      }
    }

    .banner {
      &-item {
        position: relative;
      }

      &-caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: calc(56px + 5%) 15% 5%;
        display: flex;
        flex-direction: column;
      }

      &-title {
        @include font-size(56);
      }

      &-text {
        font-weight: bold;
      }
    }

    @include media-breakpoint-up(lg) {
      .slick {
        &-slide {
          &:nth-child(odd) {
            .banner-caption {
              justify-content: center;
            }
          }

          &:nth-child(even) {
            .banner-caption {
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

  #bannerSecondary {
    padding: 4rem 0 2rem;

    .card {
      border-width: 0;
      border-radius: 0;
      background-color: $black;

      &:hover {
        .card-img {
          img {
            transform: scale(1);
            @include transition($transition-base);
          }
        }
      }

      &-img {
        border-radius: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;

        img {
          width: 100%;
          vertical-align: middle;
          transform: scale(1.1);
          opacity: 0.75;
          @include transition($transition-base);
        }

        &-overlay {
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: $white;
          text-transform: uppercase;
        }
      }
    }
  }

  #about {
    text-align: center;

    .about {
      &-body {
        height: 100%;
        padding: 30px;
        background-color: $primary;
        color: $white;
      }

      &-img {
        width: 100%;
      }
    }

    @include media-breakpoint-up(lg) {
      margin: 60px 0;
      padding-top: 45px;
      padding-bottom: 45px;

      >.container {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -45px;
          left: -30px;
          width: 50%;
          height: 100%;
          background-color: rgba(#1C202B, .1);
          z-index: 0;
        }

        &::after {
          content: "";
          position: absolute;
          top: -45px;
          right: -30px;
          width: 50%;
          height: 100%;
          background-color: rgba(#1C202B, .1);
          z-index: 0;
        }

        >.row {
          position: relative;
          z-index: 1;
        }
      }

      .about {
        &-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    @include media-breakpoint-down(md) {

      >.container {
        padding-left: 0;
        padding-right: 0;
      }

      .about {
        &-body {
          padding-top: 70px;
          padding-bottom: 70px;
        }
      }
    }
  }

  #labels {
    padding-top: 70px;

    &-1,
    &-2,
    &-3 {
      padding-top: 70px;
      text-align: center;

      .labels {
        &-dots {
          position: relative;
          height: 3px;
          margin-bottom: 2.5rem;

          .slick-dots {
            bottom: 0;
            display: flex;

            li {
              width: 100%;
              height: 3px;
              margin: 0;
              flex: 1 1 auto;

              &.slick-active {
                button {
                  background-color: darken($light, 10%);
                }
              }

              button {
                width: 100%;
                height: 100%;
                background-color: $light;
                padding: 0;

                &::before {
                  display: none;
                }
              }
            }
          }
        }

        &-title {
          background-color: $light;
          padding: 1.5rem 1.5rem .5rem;
          margin-bottom: 1.5rem;
        }

        &-item {
          padding: 0 15px 15px;

          &:hover {
            .labels-link {
              opacity: 1;
              @include transition($transition-base);
            }
          }
        }

        &-img {
          position: relative;

          img {
            width: 100%;
          }
        }

        &-link {
          @include transition($transition-base);
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba($primary, .5);
          display: flex;
          justify-content: center;
          align-items: center;

          .btn {
            font-weight: bold;
          }
        }

        &-text {
          margin-top: 1rem;
        }
      }

      .slick {
        &-arrow {
          width: 10%;
          height: 100%;
          z-index: 1;

          &::before {
            content: '';
            width: 100%;
            height: 18px;
            display: block;
            text-align: center;
          }
        }

        &-prev {
          left: 0;

          &::before {
            content: '';
            background: url('../img/arrow-prev.png') no-repeat center center/contain;
          }
        }

        &-next {
          right: 0;

          &::before {
            content: '';
            background: url('../img/arrow-next.png') no-repeat center center/contain;
          }
        }
      }
    }
  }

  #allBrand {
    padding: 60px 0;
  }

  #join {
    position: relative;
    padding: 60px 0;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(white, .6);
    }

    >.container {
      position: relative;
    }

    .join {
      &-form {
        max-width: 500px;
        margin: 0 auto;

        &-body {
          background-color: $white;
          padding: 20px 40px;
          box-shadow: 0 3px 6px rgba($black, .16);

          label {
            font-weight: bold;
            @include font-size(12);
            color: $primary;
          }
        }
      }
    }
  }

  #contact {
    position: relative;

    .contact {
      &-map {
        display: flex;
      }

      &-body {
        background-color: $primary;
        color: $white;
        padding: 30px;
        text-align: center;
      }
    }

    @include media-breakpoint-up(lg) {
      .contact {
        &-map {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }

    @include media-breakpoint-down(md) {
      >.container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}