// Colors
$primary: #1C202B;
$secondary: #F7F7F7;

// Fonts
$font-family-base:'Open Sans',
sans-serif;
$headings-font-family: 'Playfair Display',
serif;
$headings-font-weight: bold;
$enable-responsive-font-sizes: true;

// Buttons
$btn-border-radius: 0;

// Input
$input-border-radius: 0;
$input-border-color: $primary;